<!DOCTYPE html>
<html>
<head>
<title>Eat-Da-Burger!|Don Bedwell</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.liner{border-right: 2px solid black;}
.liner-top{border-top: 2px solid black;}
</style>
</head>
<body>
<header>
<h1>Eat-Da-Burger!</h1>
</header>
<div class="container">
<row class="col-sm-12">
<section class="col-sm-6 liner text-center">
<h2>Ordered</h2>
</section>
<section class="col-sm-6 text-center">
<h2>Eaten</h2>
</section>
</row>
<row class="col-sm-12">
<section class="col-sm-12 liner-top text-center">
<h2>May I Take Your Order?</h2>
<form action="" method="">
<fieldset class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
<div class="input-group">
<span id="addon_fullname" class="input-group-addon">Full Name</span>
<input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name" data-req="true">
</div>
</fieldset>
</form>
</section>
</row>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
<button class="btn btn-primary" id="btnSubmit">Submit Validated Form</button>
</div>
</div>
</div>
</body>
</html>
